.custom-article {
    columns:auto;
    display: flex;
    margin: 10px;
    justify-content: center;
}

.custom-button {
    border: 1px;
    border-style: solid;
    border-radius: 40px;
    margin-right: 30px;
    font-size: 30px;
    background-color: hsl(219, 100%, 90%);
}
article a img {
    border: 1px;
    border-style: solid;
    border-color: rgb(133, 133, 133);
    border-radius: 20px;
}