* {
    box-sizing: border-box;
}

body {
    background-color: rgb(216, 214, 214);
    margin: 0;
    padding: 0;
}

/* header/nav */
header {
    display: flex;
    justify-content: space-between;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite;
    background-color: rgb(18, 99, 180);
    margin-bottom: 50px;
}
nav{
    margin-right: 20px;
}

nav ul {
    list-style-type: none
}
nav li {
    display: inline-flex;
    margin: 20px 0 0 20px;
}   
nav a {
    text-decoration: none;
    font-size: 25px;
    color: antiquewhite;
}
nav a:hover {
    color: black;
}

/* main sections */
.content article{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 15px;
    padding: 15px;
    background-color: rgba(88, 130, 221, 0.26);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.content h2{
    margin: 20px;
    width: 100%;
}

.content #about-me img {
    height: 200px;
}
.content p {
    text-align: justify;
    margin: 10px;
}

.content li {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 30px;
    padding: 20px;
    background-color: rgba(100, 145, 167, 0.863);
}
.content li a {
    
    text-decoration: none;
    color: black;
}
.content div {
    display: flex;
}
.content #sub-image {
    width: 50%;
}

/* image and contact link */
.content #work a{
    display: flex;
    width: 100%;
    padding: 10px;
}

/* Contact me styles */
.content #contact-me a:hov {
    color: whitesmoke;
}
#contact-me li {
    list-style-type: none;
    text-decoration: none;
}